
.allcomment{
    border: 1px solid black;
    padding: 8px 8px 20px 8px;
    background:#b8b7b2;
    margin-bottom: 30px;
    border-radius: 30px;
    max-width: 350px;
}
.comment p {
    margin: 15px;
    font-style: italic;
}

.avatar img {
    width: 80px;
    height: 70px;
    border-radius: 50px;
    margin:0 5px 10px 0;
}

.avatar{
    display: flex;
    font-weight: 700;
    font-size: 19px;
    height: 60px;
}
.image{
    text-align:center;
    margin-bottom: 30px;
}
.image img{
    width:90%;
    height: 300px;
}
.true{
    color: green;
    font-weight: 400;
    margin: 8px;
}
.false{
    color:red;
    font-weight: 500;
    margin: 8px;
}
.fullName {
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: min-content;
}
.MyStatus{
    background: darkcyan;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:white;
    border-radius:6px;
    padding: 5px 5px 9px 5px;
    font-style: italic;
    line-height: 1.4;
    margin: 4px;
}
.MyStatus:hover{
    opacity: 0.8;
    cursor: pointer;
}
.Status{
    background-color:darkgray;
    border-radius:6px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: min-content;
    font-weight: 600;
    padding: 5px 5px 9px 5px;
    font-style: italic;

}
.WithStatus{
}
.info{
    margin-bottom: 6px;
}
.heart {
    color:red;;
    font-size: 20px;
    cursor:pointer;

}
.heart:hover {
    color:darkred;
}
.heartActive {
    color: black;
    font-size: 20px;
    cursor:pointer;

}
.heartActive:hover{
    color: red;
}

.likesCount {
    margin-top:5px;
    margin:5px 0 0 3px
}
.EditAvatar{
    color: darkcyan;
    margin: 10px 0 10px 0;
}
.flex{
    display:flex;
}
.AllPosts{
    margin-right: 5%;
}