.header{
  height: 60px;
  background-image: url("http://www.freeliquidtemplates.com/free-headers-for-websites/header11.jpg");
  position: relative;
}
.name{
  color:gold;
  position: absolute;
  right: 45px;
  top:20px;
}
.headerClock{
    left: 15px;
    color: mediumturquoise;
    top: -15px;
    position: absolute;
}
.logout{
    color:#aeb1b5;
    font-size:12px;
    right: -35px;
    top: -14px;
    position: absolute;
    transition: color .2s linear;
}
.logout:hover {
    color:red;
    cursor:pointer;
}
.login {
    color: white;
    font-size:17px;
    text-decoration:none;
}
.login:hover {
    color:gold
}
