.FormControl.error{
    height: 35px;
}

.FormControl.error input,
.FormControl.error textarea {
    border:1px red solid;
}

.FormControl.error span {
    color:red;
    margin:2px;
}
.FormControl textarea{
    max-width: 250px;
    max-height: 200px;
}